[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/shijilclaysys
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shijilclaysys
	label-Verified = -1..+1 group user/shijilclaysys
	push = group user/shijilclaysys
	read = group user/shijilclaysys
	rebase = group user/shijilclaysys
	removeReviewer = group user/shijilclaysys
	submit = group user/shijilclaysys
[access "refs/heads/*"]
	create = group user/shijilclaysys
	push = +force group user/shijilclaysys
	pushMerge = group user/shijilclaysys
	read = group user/shijilclaysys
[access "refs/tags/*"]
	push = group user/shijilclaysys
	push = +force group user/shijilclaysys
